
img {
  display: block;
    margin-left: auto;
    margin-right: auto;  
}

a {
    position: relative;
    left: 800px;
    bottom: 200px;
}
a:link, a:visited {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: white;
    color: orange;
    
  }